.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 19px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.6s ease, visibility 0.6s ease;
}

.modal_opened {
    visibility: visible;
    opacity: 1;
}

.modal__container {
    position: relative;
    background-color: #fff;
    padding: 36px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__close {
    position: absolute;
    top: -45px;
    right: -45px;
    width: 40px;
    height: 40px;
    background-image: url(../images/modalclosebutton.svg);
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
}

.modal__close:hover {
    cursor: pointer;
    opacity: 60%;
}

.modal__heading {
    margin: 0;
    color: #000;
    margin-bottom: 54px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

}

.modal__input {
    margin-bottom: 30px;
    height: 27px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-family: Inter;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.modal__button {
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 2px;
    width: 358px;
    height: 50px;
    font-family: Inter;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 18px;
}

.modal__button:hover {
    cursor: pointer;
    opacity: 60%;
}

.modal__container_preview-image {
    position: relative;
    background-color: transparent;
    padding: 0;
}

.modal__image {
    width: 433px;
    height: 540px;
}

.preview__image {
    max-width: 75vw;
    max-height: 75vh;
}

.modal__card-image-title {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: left;

}

.modal__close-image{
    background-image: url(../images/Close\ Icon.svg);
    background-color: transparent;
    background-size: contain;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: calc(100% + 5px);
    left: calc(100% + 5px);
    height: 40px;
    width: 40px;
  }

  .modal__close-image:hover {
    cursor: pointer;
    opacity: 60%;
}

@media screen and (max-width: 600px) {
    .modal__container {
        position: absolute;
        max-width: 282px;
        top: 123px;
        margin: 0 22px;
        padding: 22px;
    }

    .modal__close {
        position: absolute;
        top: -50px;
        right: 7px;
        width: 26px;
        height: 26px;
    }
    
    .modal__button {
        width: 238px;
        height: 46px;
        font-family: Inter;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
    }

    .modal__heading {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 75px;
    }

    .modal__description {
        margin-bottom: 45px;
    }

    .image__close-button {
        position: absolute;
        bottom: calc(100% + 5px);
        left: calc(100% + 5px);
        height: 40px;
        width: 40px;
    }

    .modal__container_preview-image .modal__close {
        position: absolute;
        bottom: calc(100% + 5px);
        left: calc(100% + 5px);
    }
}